<form action="https://formspree.io/josefin@morkchocolate.com.au" method="POST" class="form">
  <div class="fields">
    <div class="field">
      <label for="name">Name</label>
      <input type="text" name="Name" id="name" required>
    </div>
    <div class="field">
      <label for="email">Email Address</label>
      <input type="email" name="_replyto" id="email" required>
    </div>
    <div class="field">
      <label for="number">Contact Number</label>
      <input type="tel" name="Contact Number" id="number" required>
    </div>
    <div class="field">
      <label for="business">Business Name</label>
      <input type="text" name="Business Name" id="business" required>
    </div>
    <div class="field">
      <label for="address" for="address">Street address</label>
      <textarea type="text" name="Street Address" id="address" required></textarea>
    </div>
    <div class="field">
      <label for="suburb">Suburb</label>
      <input type="text" name="Suburb" id="suburb" required>
    </div>
    <div class="field">
      <label for="state">State</label>
      <input type="radio" name="State" value="Victoria" id="state_victoria" required>
        <label for="state_victoria" class="radio-label">Victoria</label><br>
      <input type="radio" name="State" value="New South Wales" id="state_new_south_wales">
        <label for="state_new_south_wales" class="radio-label">New South Wales</label><br>
      <input type="radio" name="State" value="South Australia" id="state_south_australia">
        <label for="state_south_australia" class="radio-label">South Australia</label><br>
      <input type="radio" name="State" value="Canberra" id="state_canberra">
        <label for="state_canberra" class="radio-label">Canberra</label><br>
      <input type="radio" name="State" value="Western Australia" id="state_western_australia">
        <label for="state_western_australia" class="radio-label">Western Australia</label><br>
      <input type="radio" name="State" value="Northern Territory" id="state_northern_territory">
        <label for="state_northern_territory" class="radio-label">Northern Territory</label><br>
      <input type="radio" name="State" value="Tasmania" id="state_tasmania">
        <label for="state_tasmania" class="radio-label">Tasmania</label><br>
      <input type="radio" name="State" value="" id="state_other">
        <label for="state_other" class="radio-label">Other</label>
        <input type="text" name="State – Other" class="other" />​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​
    </div>
  </div>
  <div class="fields">
    <div class="field">
      <label for="country">Country</label>
      <input type="radio" name="Country" value="Australia" id="country_australia" required>
        <label for="country_australia" class="radio-label">Australia</label><br>
      <input type="radio" name="Country" value="" id="country_other">
        <label for="country_other" class="radio-label">Other</label>
        <input type="text" name="Country – Other" class="other" />​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​
    </div>
    <div class="field">
      <label for="tried">Have you tried our chocolate?</label>
      <input type="radio" name="Have you tried our chocolate?" value="Yes" id="tried_before_yes" required>
        <label for="tried_before_yes" class="radio-label">Yes</label><br>
      <input type="radio" name="Have you tried our chocolate?" value="No" id="tried_before_no">
        <label for="tried_before_no" class="radio-label">No</label><br>
    </div>
    <div class="field">
      <label for="new">Are you a new business?</label>
      <input type="radio" name="Are you a new business?" value="Yes" id="new_business_yes" required>
        <label for="new_business_yes" class="radio-label">Yes</label><br>
      <input type="radio" name="Are you a new business?" value="No" id="new_business_no">
        <label for="new_business_no" class="radio-label">No</label><br>
    </div>
    <div class="field">
      <label for="new" for="business">What kind of business are you?</label>
      <input type="radio" name="What kind of business are you?" value="Cafe" id="business_type_cafe" required>
        <label for="business_type_cafe" class="radio-label">Cafe</label><br>
      <input type="radio" name="What kind of business are you?" value="Restaurant" id="business_type_restaurant">
        <label for="business_type_restaurant" class="radio-label">Restaurant</label><br>
      <input type="radio" name="What kind of business are you?" value="Retail" id="business_type_retail">
        <label for="business_type_retail" class="radio-label">Retail</label><br>
      <input type="radio" name="What kind of business are you?" value="" id="business_type_other">
        <label for="business_type_other" class="radio-label">Other</label>
        <input type="text" name="What kind of business are you? – Other" class="other" />​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​
    </div>
    <div class="field">
      <label for="coffee">What coffee supplier are you aligned with?</label>
      <input type="text" name="What coffee supplier are you aligned with?" id="coffee" required>
    </div>
    <div class="field">
      <input type="submit" value="Submit Form">
    </div>
  </div>
</form>
