<footer>
  <div class="inner-footer row cf">
    <div class="copy box col cf">
      <h2>Contact Details</h2>
      <a href="mailto:contact@morkchocolate.com.au">contact@morkchocolate.com.au</a>
    </div>
    <div class="newsletter box col cf">
      <h2>Be the first to know Mörk news</h2>
      <!-- Begin MailChimp Signup Form -->
      <div id="mc_embed_signup">
        <form action="http://morkchocolate.us6.list-manage2.com/subscribe/post?u=0943ebc16b2b45e8e12926aa4&amp;id=8959c673e2" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate="">
          <div class="mc-field-group">
            <label for="mce-EMAIL">Email Address: </label>
            <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button">
          </div>
          <div id="mce-responses" class="clear">
            <div class="response" id="mce-error-response" style="display:none"></div>
            <div class="response" id="mce-success-response" style="display:none"></div>
          </div>
        </form>
      </div>
      We hate spam as much as you do. We'll only contact you occasionally when delicious things happen.
      <!--End mc_embed_signup-->
    </div>
    <div class="social box cf">
      <h2>Connect</h2>
      <div class="links cf">
        <a href="http://www.facebook.com/morkchocolate"><article><span class="ss-icon fb">Facebook</span></article></a>
        <a href="https://twitter.com/morkchocolate"><article><span class="ss-icon tw">Twitter</span></article></a>
        <a href="http://instagram.com/morkchocolate/"><article><span class="ss-icon in">Instagram</span></article></a>
      </div>
    </div>
  </div>
</footer>
<div class="speak">© MÖRK SPECIALTY HOT CHOCOLATE 2012—2016<br>Website by <a href="http://margalit.com.au">Sam Margalit</a></div>
