<header class="cf">
  <div class="logo"><a href="http://www.morkchocolate.co.uk/"><img src="/assets/mork-logo.svg" title="Mörk Chocolate"></a></div>
  <nav class="cf">
    <ul class="cf menu-left">
      <li id="nav_1" class="{% if page.title == 'Home'%}current{%else%}link{%endif%}">
        <a href="/">
          Home
        </a>
      </li>
      <li id="nav_2" class="{% if page.title == 'About'%}current{%else%}link{%endif%}">
        <a href="/about">
          About
        </a>
      </li>
      <li id="nav_3" class="{% if page.title == 'Our Range'%}current{%else%}link{%endif%}">
        <a href="/our-range">
          Our Range
        </a>
      </li>
      <li id="nav_4" class="{% if page.title == 'Process'%}current{%else%}link{%endif%}">
        <a href="/process">
          Process
        </a>
      </li>
    </ul>
    <ul class="cf menu-right">
      <li id="nav_5" class="{% if page.title == 'Wholesale'%}current{%else%}link{%endif%}">
        <a href="/wholesale">
          Wholesale
        </a>
      </li>
      <li id="nav_6" class="link">
        <a href="https://www.facebook.com/MorkChocolateUK/">
          Follow Us
        </a>
      </li>
      <li id="nav_7" class="{% if page.title == 'Find Us'%}current{%else%}link{%endif%}">
        <a href="/find-us">
          Find Us
        </a>
      </li>
      <li id="nav_8" class="link">
        <a href="https://morkchocolateuk.bigcartel.com/">
          Buy Mörk
        </a>
      </li>
    </ul>
  </nav>
</header>