<header class="cf">
    <div class="logo"><a href="http://www.morkchocolate.com.au/"><img src="/assets/mork-logo.svg" title="Mörk Chocolate"></a></div>
    <nav class="cf">
      <ul class="cf menu-left">
        {% for page in site.pages %}
          <li id="nav_{{forloop.index}}" class="{% if page.url == current.url %}current{%else%}link{%endif%}"><a href="{{page.url}}">{{page.title}}</a></li>
          {% if forloop.index == 4 %}
            </ul>
            <ul class="cf menu-right">
          {% elsif forloop.index == 7 %}
            <li id="nav_8" class="link"><a href="http://store.morkchocolate.com.au">Store</a></li>
          {% endif %}
        {% endfor %}
        </ul>
    </nav>
</header>
