---
title: Chocolate
layout: default
---

<div class="content posts row cf">
  {% assign chocolates = site.chocolates %}
  {% for chocolate in chocolates %}
    <article class="box col">
      <h2>{{chocolate.title}}</h2>
      <img src="{{chocolate.image}}">
      {{chocolate.content}}
      <ul class="details cf">
        {% assign details = chocolate['details'] %}
        <li>Cacao: <span>{{details['cacao']}}</span></li>
        <li>Variety: <span>{{details['variety']}}</span></li>
        <li>Area: <span>{{details['area']}}</span></li>
        <a href="{{details['link']}}" class="sale">Purchase {{chocolate.title}}</a>
      </ul>
    </article>
  {% endfor %}
</div>
