---
layout: default
---

<script type="text/javascript">var styles = [{"featureType":"administrative","elementType":"all","stylers":[{"visibility":"on"},{"lightness":33}]},{"featureType":"landscape","elementType":"all","stylers":[{"color":"#f2e5d4"}]},{"featureType":"poi.park","elementType":"geometry","stylers":[{"color":"#c5dac6"}]},{"featureType":"poi.park","elementType":"labels","stylers":[{"visibility":"on"},{"lightness":20}]},{"featureType":"road","elementType":"all","stylers":[{"lightness":20}]},{"featureType":"road.highway","elementType":"geometry","stylers":[{"color":"#c5c6c6"}]},{"featureType":"road.arterial","elementType":"geometry","stylers":[{"color":"#e4d7c6"}]},{"featureType":"road.local","elementType":"geometry","stylers":[{"color":"#fbfaf7"}]},{"featureType":"water","elementType":"all","stylers":[{"visibility":"on"},{"color":"#acbcc9"}]}]</script>
<div class="regular content row cf">
  <article class="threequart">
  <h2>{{ page.title }}</h2>
  <article>
      {{page.content | markdownify}}
    </article>
    <div class="locator__list">
      {% assign sorted_retailers = page.retailers | sort:'store' %}
      {% for retailer in sorted_retailers %}
        <div class="locator__item">
          {% if retailer.website %}
            <a href="{{ post.meta['Website'] }}">{{retailer.store}}</a>
          {% else %}
            <span>{{retailer.store}}</span>
          {% endif %}
          <p>{{retailer.address_1}}<br/>{{retailer.address_2}}</p>
        </div>
      {% endfor %}
    </div>
</div>
