---
layout: default
---

<article class="article-title cf">
  <h1>Pure Handcrafted Chocolate Blends</h1>
</article>
<div class="content row cf">
  {% for column in page.columns %}
    <article class="box one col">
      <h2>{{column.title}}</h2>
      <p>{{column.text}}</p>
      <h4><a href="{{column.link}}">Read More</a></h4>
    </article>
  {% endfor %}
</div>
<!-- <div class="reviews">
  <h2 class="reviews__heading">
    {{page.reviews_heading}}
  </h2>
  <div class="reviews__content">
    {% for review in page.reviews_content %}
      <div>{{review | markdownify}}</div>
    {% endfor %}
  </div>
</div> -->
