---
layout: default
---

<article class="article-title cf">
  <h1>Specialty Drinking Chocolate in Melbourne</h1>
</article>
<div class="content row cf">
  {% for column in page.columns %}
    <article class="box one col">
      <h2>{{column.title}}</h2>
      <p>{{column.text}}</p>
      <h4><a href="{{column.link}}">Read More</a></h4>
    </article>
  {% endfor %}
  {% assign latest_post = site.news.first %}
  <article class="box one col">
    <h2>{{latest_post.title}}</h2>
    <p>{{latest_post.excerpt | truncatewords: 25}}</p>
    <h4><a href="{{latest_post.url}}">Read More</a></h4>
  </article>
</div>
<div class="reviews">
  <h2 class="reviews__heading">
    {{page.reviews_heading}}
  </h2>
  <div class="reviews__content">
    {% for review in page.reviews_content %}
      <div>{{review | markdownify}}</div>
    {% endfor %}
  </div>
</div>
